.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  .wrap {
    position: relative;
    width: 400px;
    height: 450px;
    margin: 0 auto;
    background-color: rgba(41, 40, 40, 0.76);
    padding: 20px;
    border-radius: 20px;
    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: white;
      margin-bottom: 20px;
    }
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      color: orange;
      font-size: 22px;
      border: none;
      background: transparent;
    }
  }
  .card {
    width: 100%;
    height: 350px;
    overflow-y: auto;
    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      text-align: left;
      margin-bottom: 20px;
    }
    .imgs {
      width: 120px;
      height: 90px;
      border-radius: 10px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      display: flex;
      align-items: center;
      gap: 20px;
      h3 {
        font-weight: 600;
        font-size: 18px;
        color: white;
        margin-bottom: 10px;
      }
      h4 {
        font-weight: 600;
        font-size: 15px;
        color: orange;
        margin-bottom: 10px;
      }
    }
    svg {
      color: rgba(255, 0, 0, 0.753);
      font-size: 22px;
      cursor: pointer;
    }
  }
  .emptyImg {
    width: 100%;
    height: 90%;
    border-radius: 15px;
    object-fit: cover;
  }
}
