.productdetail {
  padding-top: 95px;
  .container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .cardImgs {
    background:
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("/imgs/productBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 400px;
    border: 1px solid rgba(128, 128, 128, 0.096);
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .cardInfo {
    width: 50%;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-weight: 600;
        font-size: 26px;
        line-height: 40px;
        color: white;
        margin-bottom: 15px;
      }
      h3 {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 600;
        font-size: 22px;
        color: orange;
        span {
          display: flex;
          align-items: center;
          gap: 1px;
          font-size: 15px;
          svg{
            color: red;
          }
        }
      }
    }

    h3 {
      font-weight: 500;
      font-size: 19px;
      line-height: 28px;
      color: white;
      margin-bottom: 10px;
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: orange;
      margin-bottom: 25px;
    }
    .content {
      display: flex;
      gap: 100px;
      margin-bottom: 20px;
      .title {
        display: grid;
        gap: 10px;
        h4 {
          font-weight: 500;
          font-size: 16px;
          color: white;
        }
      }
      .element {
        display: grid;
        gap: 10px;
        h5 {
          font-weight: 500;
          font-size: 14px;
          color: orange;
        }
      }
    }
    .btns {
      display: flex;
      justify-content: center;
      button {
        font-weight: 700;
        font-size: 16px;
        color: white;
        background-color: transparent;
        border-radius: 40px;
        padding: 10px 25px;
        border: 2px solid orangered;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: orangered;
        }
      }
    }
  }
}
