nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #000000;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  img {
    width: 80px;
  }
  ul,
  .btns {
    display: flex;
    align-items: center;
    gap: 25px;
    a {
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      color: white;
      &.active {
        color: orange;
      }
    }
  }
  .btns {
    .shop {
      background: transparent;
      border: none;
      position: relative;
      span {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: red;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        font-weight: 500;
        font-size: 10px;
        color: white;
      }
    }
    svg {
      color: white;
      font-size: 22px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: orange;
      }
    }
    .login {
      font-weight: 700;
      font-size: 16px;
      color: #000000;
      box-shadow: 0px 4px 14px 0px #ffffff26;
      border-radius: 40px;
      border: none;
      padding: 15px 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        scale: 0.98;
      }
    }
  }
}
