footer {
  background-color: #191919;
  .container {
    padding: 40px 0;
  }
  .card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
  }
  .box {
    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      color: white;
      margin-bottom: 20px;
    }
    h5 {
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: white;
      margin-bottom: 10px;
    }
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #4f4f4f;
    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
      svg {
        color: white;
        font-size: 22px;
        cursor: pointer;
      }
    }
    h6 {
      font-weight: 400;
      font-size: 18px;
      color: white;
    }
  }
}
