.hero {
  background:
    linear-gradient(to right, #000000cc, #00000099, #00000000, #00000000),
    url("/imgs/heroBg.jpg");
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  margin-top: 95px;
  .container {
    h1 {
      width: 60%;
      font-weight: 900;
      font-size: 66px;
      line-height: 96px;
      color: white;
    }
    p {
      width: 50%;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: white;
      margin-bottom: 20px;
    }
    button {
      font-weight: 700;
      font-size: 18px;
      color: #000000;
      background-color: #fff;
      border-radius: 40px;
      padding: 12px 25px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        scale: 0.98;
      }
    }
  }
}

.video-section {
  .container {
    padding: 40px 0;
  }
  .title {
    margin-bottom: 40px;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 40px;
      color: white;
      margin-bottom: 20px;
    }
    p {
      width: 705px;
      margin: 0 auto;
      font-weight: 400;
      font-size: 20px;
      color: white;
    }
  }
  .card {
    display: flex;
    justify-content: space-between;
    .info {
      width: 45%;
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: #eeeeee;
      }
    }
    .box {
      width: 45%;
      height: 420px;
      display: flex;
      align-items: center;
      border-radius: 12px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.menu-section {
  .container {
    padding: 40px 0;
  }
  .title {
    margin-bottom: 40px;
    h2 {
      font-weight: 600;
      font-size: 50px;
      line-height: 70px;
      color: white;
      margin-bottom: 20px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        background: transparent;
        border: none;
        position: relative;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        padding-bottom: 5px;
        &::after {
          content: " ";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          gap: 2px;
          border: 1px solid white;
          transition: all 0.3s ease-in-out;
          opacity: 0;
        }
        &:focus::after {
          width: 100%;
          opacity: 1;
        }
        &:focus {
          font-weight: 700;
        }
      }
    }
  }
  .card {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 50px;
    .box {
      background-color: #191919;
      padding: 20px;
      border-radius: 20px;
      .imgs {
        height: 240px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        border-radius: 20px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: white;
        margin-bottom: 10px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: white;
        margin-bottom: 15px;
      }
      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          font-weight: 500;
          font-size: 20px;
          line-height: 34px;
          color: orange;
        }
        button {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          color: white;
          font-size: 20px;
          &:hover {
            background-color: orange;
            border: 1px solid orange;
          }
        }
      }
    }
  }
  .row {
    display: flex;
    justify-content: center;
    .allBtn {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
      background-color: #fff;
      border: none;
      border-radius: 40px;
      padding: 12px 35px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(0.98);
      }
    }
  }
}

.blok-section {
  .container {
    text-align: center;
    padding: 40px 0;
  }
  h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    color: white;
    margin-bottom: 20px;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h3 {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: white;
    margin-bottom: 10px;
  }
  h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
  }
}

.contact-section {
  .container {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .info {
    width: 45%;
    h2 {
      font-weight: 700;
      font-size: 50px;
      line-height: 70px;
      color: white;
      margin-bottom: 20px;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: white;
      margin-bottom: 40px;
    }
    button {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
      background-color: #fff;
      border: none;
      border-radius: 40px;
      padding: 10px 30px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(0.98);
      }
    }
  }
}
